.addCartConfirmBackground {
  background-color: rgba(128, 128, 128, 0.4);
}
.addCartConfirmImgContainer {
  height: 240px;
}
.addCartConfirmImg {
  max-height: 100%;
  max-width: 100%;
}
.addCartConfirmClose {
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
}
.addCartConfirmClose:hover {
  color: gray;
}
