input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkoutCartItemImgContainer {
  min-height: 90px;
  max-height: 90px;
  min-width: 120px;
  max-height: 120px;
}
.checkoutCartItemImg {
  max-width: 120px;
  max-height: 90px;
}
