.thumbnailContainer {
  min-width: 84px;
  max-width: 84px;
}
.thumbnail {
  min-width: 84px;
  max-width: 84px;
  min-height: 64px;
  max-height: 64px;
  margin: 5px 0;
  padding: 2px;
}
.thumbnail:hover {
  cursor: pointer;
  opacity: .6;
}
.thumbnail > img {
  max-width: 80px;
  max-height: 60px;
}
