.thumbnailContolsContainer {
  min-width: 64px;
  max-width: 64px;
}
.thumbnailScrollable {
  transition: transform .3s ease-in;
}
.thumbnail {
  min-width: 64px;
  max-width: 64px;
  min-height: 49px;
  max-height: 49px;
  margin: 5px 0;
  padding: 2px;
}
.thumbnail:hover, .thumbnailPrev:hover, .thumbnailNext:hover {
  cursor: pointer;
  opacity: .6;
}
.thumbnailNav {
  min-height: 295px;
  max-height: 295px;
}
.thumbnail > img {
  max-width: 60px;
  max-height: 45px;
}
