body {
  font-family: 'Lato', sans-serif;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
.continueShopping:hover {
  text-decoration: underline;
}
.headerContainer {
  background: #ffc107;
}
.shoppingCartImage {
  height: 30px;
}
.carouselItem {
  height: 400px;
}
.carouselCaption {
  background-color: rgba(128, 128, 128, 0.7);
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffb400' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffb400' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.productContainer {
  height: 400px;
}
.productImgContainer {
  height: 60%;
}
.featuredItems, .carouselImage {
  height: 300px;
}
.item-thumbnail{
  width: 80px;
  display: inline-block;
}
.prev-thumbnail, .next-thumbnail{
  cursor: pointer;
  width: 5%;
}
.prev-thumbnail:hover, .next-thumbnail:hover{
  background-color: lightgray;
}
.back-to-catalog,
.modal-close-button,
.shoppingCartContainer{
  cursor: pointer;
}
.shoppingCartContainer, .cartTotal{
  font-size: 2rem;
}
.productDetailsImgInfoContainer {
  height: 400px;
}
.productImg, .productDetailsImgContainer > img, .thumbnail > img, .cartItemImg {
  max-width: 100%;
  max-height: 100%;
}
.productImgContainer:hover, .cartItemImg:hover {
  opacity: .7;
}
.productNameContainer:hover, .cartItemName:hover {
  color: gray;
}

.cartItemContainer {
  height: 150px;
}
.qty {
  min-width: 40px;
}
.qtyDec, .qtyInc {
  width: 25px;
}
.qtyDec:hover, .qtyInc:hover, .removeBtn {
  cursor: pointer;
}
.item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
