body {
  font-family: 'Lato', sans-serif;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
.continueShopping:hover, .productNameContainer:hover, .cartItemName:hover {
  text-decoration: underline;
  color: #007bff;
}
.item-thumbnail{
  width: 80px;
  display: inline-block;
}
.prev-thumbnail, .next-thumbnail{
  cursor: pointer;
  width: 5%;
}
.prev-thumbnail:hover, .next-thumbnail:hover{
  background-color: lightgray;
}
.back-to-catalog,
.modal-close-button,
.shoppingCartContainer{
  cursor: pointer;
}
.productDetailsImgContainer {
  max-height: 400px;
  min-height: 400px;
}
.productImg, .thumbnail > img,.productDetailsImg, .cartItemImg, .orderItemImg {
  max-width: 100%;
  max-height: 100%;
}
.productImg:hover, .cartItemImg:hover {
  opacity: .7;
}
.cartItemImgContainer, .orderItemContainer {
  height: 150px;
}
.qty {
  min-width: 40px;
}
.qtyDec, .qtyInc {
  width: 25px;
}
.qtyDec:hover, .qtyInc:hover, .removeBtn {
  cursor: pointer;
}
.item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modalBackground {
  background-color: rgba(128, 128, 128, 0.4);
}
